<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">

    <title>Search!</title>
</head>
<body>
<div class="container">

    <hr/>
    <h3>Meeting Organizer</h3>
    <hr/>

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Required Attendees</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Optional Attendees</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Rooms</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" placeholder="List of candidate rooms"></textarea>
            <div class="input-group-append">
                <div class="input-group-text">
                    <div class="form-check">
                        <input class="form-check-input adjusted-checkbox" type="checkbox" id="check1">
                        <label class="form-check-label" for="check1">
                            All Rooms
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Duration</span>
            </div>
            <input type="number" class="form-control" aria-label="Duration" value="30">
            <div class="input-group-append">
                <span class="input-group-text">Minutes</span>
            </div>
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Search</button>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
